{% extends '_layouts/master' %}

{% block content %}	
	<div class="container mx-auto px-4">
		<h1>{{ entry.title }}</h1>

		{% set image = entry.singleImage.one()%}
		{% if image %}
		<picture>
			<source {{ attr({
				type: 'image/jpeg',
				srcset: image.getSrcset(
					[320, 360, 412, 600, 768, 1024, 1280, 1440, 1600, 1920, 2560],
					{ format: 'jpg' }
				),
				sizes: '100vw',
			}) }}>
			<source {{ attr({
				type: 'image/webp',
				srcset: image.getSrcset(
					[320, 360, 412, 600, 768, 1024, 1280, 1440, 1600, 1920, 2560],
					{ format: 'webp' }
				),
				sizes: '100vw',
			}) }}>
				<img width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt }}">
			</picture>
		{% endif %}

		{{ entry.richText }}
	</div>
{% endblock %}